

Main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

article {
    width: 25%;
    height: 50%;
    border: 2px solid black;
    padding: 2px;
    float: left;
}

p {
    font-size: large;
    margin-bottom: 25px;
}

header {
display: flex;
justify-content: space-between;
align-items: center;
text-align-last: bottom;
background-color: darkkhaki;
color: black;
}

nav {
    flex-direction: column;
    font-size: larger;
    display: flex;
    justify-content: flex-end;
    margin-top: .25%;
}

body {
    background-color: green;
}

#Work-Experience {
    justify-items: center;
}

a {
    border: 2px;
    border-style: solid;
    padding: 5px;
}


aside {
    flex-direction: row
    border: 3px;
    border-color: darkkhaki;
    align-items: center;
}

 .img-responsive {
    height: 15%;
    width: 20%;
    background-image: url(/Users/hansreichgelt/Bootcamp/Homework/Portfolio/assets/dogparkpic.JPG)
   
}

#about {
    text-align: center;
    font-size: large;
}

footer {
    background-color: darkkhaki;
    position: static;
    text-align: center;
}

#SEO {
block-size: 100px;
}

#GIT {
    
}

#WEB {

}





form {

}

button {
    background-color: gray;
}


