

/* grouping nav a together changing display from flex to inline-flex */
nav a {
    display: flex;
    flex-wrap: wrap;
    background-color: aliceblue;
    color: rgb(53, 87, 101);
}

nav {
    font-size: larger;

    /* color: white; */
    border-radius: 10px;
    display: flex;
    /* flex-direction: column; */
    /* position: relative; */
    /* bottom: 60px; */
    justify-content: space-between;
    margin-top: 250px;
}

a {
    border: 2px;
    border-style: solid;
    border-radius: 55px;
    padding: 5px 5px 5px 5px
}

/* @media screen and (min-width: 769px) {
 
}

@media screen and (min-width: 481px) and (max-width: 768px) { 
    nav a {
        display: flex;
        flex-wrap: wrap;
    }
} */

@media only screen and (max-width: 480px) {
    nav a {
        float: none;
        width: 100%;
    }
}

/* 
@media screen and (min-width: 480px) {
  body {
    background-color: lightgreen;
*/

.img-responsive {
    border-radius: 50%;
    height: 15%;
    width: 20%;
    background-image: url("./assets/imgs/dogpark.jpeg")
    border-style: none;
}

/* formatting text to be more assessible and easy to read */
p {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 50px;
    border: 2px black solid;
    margin: auto;
    padding: 15px;

}

section {
    border-bottom: 3px, black, double;
    width: 95%;
    margin: auto;
}

/* adding space between */
header {
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
text-align-last: bottom;
background-image: url("./imgs/longs.jpg");
background-position: left;
/* background-image: radial-gradient(); */
color: black;
border-bottom: 5px, black,;
}


h1 {
    font-size: 60px;
    font-family: cursive;
    color: black
    text-align: top;
}


body {
    background-color: rgb(53, 87, 101);
    color: aliceblue;
}

#Work-Experience {
    justify-items: center;
    color: black;
}

/* moved main and article down */
main {
    display: flex;
    padding: 8px 8px 8px 8px
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* dont set height or width or float */
article {
    padding: 2px 2px 2px 2px
    height: 300px;
}

/* adding no repeat, width, height, and text decoration to none */
main a {
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    /* color: white; */
    vertical-align: center;
    width: 47.5%;
    height: 300px;
    text-decoration: none;
    padding: 0;
    overflow: hidden;
}
/* adding seo, portfolio, and project to css styling */
#maps {
    background-image: url("./imgs/deathvalley.JPG") ;
    background-size: cover;
    width: 100%;
    margin: 4px 0px;
}

#seo {
    background-image: url("./imgs/zengarden.jpg");
    background-size: contain;
    width: 10%;
    margin: 4px 0px;
}
/* changed background size to fit for smaller projects */
#portfolio {
    background-image: url("./imgs/cooldog.jpeg");
    background-size: contain;
    width: 10%;
    margin: 4px 0px;
}
/* changing background image */
/* changed background size to fit for smaller projects */
#first-site {
    background-image: url("./imgs/coolestdog.jpeg");
    background-size: contain;
    width: 10%;
    margin: 4px 0px;
}

#passwordGenerator {
    background-image: url("./imgs/Wapiti.JPG");
    background-size: contain;
    width: 10%;
    margin: 4px 0px;
}

#codequiz {
    background-image: url("./imgs/london.jpg");
    background-size: contain;
    width: 10%;
    margin: 4px 0px;
}

a div {
    width: 100%;
    height: 100%;
    background-color: rgba(78,78,78, .5);
    position: relative;
}

a div h2 {
    position: absolute;
    left: 0px;
    bottom: 15px;
    background-color: black;
    font-size: 2rem;
    padding: 8px;
}
/* changed id for connection to html */
#about h2 {
    
    font-size: 25px;
    text-align: center;
    margin: 3px;
    padding: 3px;
}

#brand h2 {
    text-align: center;
    font-size: 25;
    margin: 3px;
    padding: 3px;
}

.intro .brandStatement {
    margin: 5px;
    padding: 5px;
    border-spacing: 15px;
}

footer {
    background-color: darkkhaki;
    height: 70px;
    position: static;
    text-align: center;
    overflow: hidden;
}

/* .documents a  {

} */
